= form_for @titulacao do |f|
  - if @titulacao.errors.any?
    #error_explanation
      %h2= "#{pluralize(@titulacao.errors.count, "error")} nao pode salvar, corrija os erros"
      %ul
        - @titulacao.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :mestre
    = f.text_field :mestre
  .field
    = f.label :pos
    = f.text_field :pos
  .field
    = f.label :doutor
    = f.text_field :doutor
  .actions
    = f.submit 'Salvar'
