%h1 Lista de titulacoes

%table
  %tr
    %th Mestre
    %th Pos
    %th Doutor
    %th
    %th
    %th

  - @titulacoes.each do |titulacao|
    %tr
      %td= titulacao.mestre
      %td= titulacao.pos
      %td= titulacao.doutor
      %td= link_to 'Show', titulacao
      %td= link_to 'Editar', edit_titulacao_path(titulacao)
      %td= link_to 'Excluir', titulacao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nova Titulacao', new_titulacao_path
