%p#notice= notice

%p
  %b Mestre:
  = @titulacao.mestre
%p
  %b Pos:
  = @titulacao.pos
%p
  %b Doutor:
  = @titulacao.doutor

= link_to 'Editar', edit_titulacao_path(@titulacao)
\|
= link_to 'Back', titulacoes_path
