%h1 Lista de professores

%table
  %tr
    %th Nome
    %th Cpf
    %th Telefone
    %th Endereco
    %th
    %th
    %th

  - @professores.each do |professor|
    %tr
      %td= professor.nome
      %td= professor.cpf
      %td= professor.telefone
      %td= professor.endereco
      %td= link_to 'Mostrar', professor
      %td= link_to 'Editar', edit_professor_path(professor)
      %td= link_to 'Excluir', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Novo Professor', new_professor_path
